.hyperlink {
    -fx-text-fill: #000000; /* Normal link color (blue) */
}

.hyperlink:visited {
    -fx-text-fill: #000000; /* Visited link color (blue) */
}

.hyperlink:focused {
    -fx-text-fill: #000000; /* Focused link color (blue) */
    -fx-focus-color: transparent; /* Remove focus outline */
    -fx-faint-focus-color: transparent; /* Remove faint focus outline */
}
