#rank-link {
    -fx-text-fill: #000000; /* Normal link color (blue) */
}

#rank-link:visited {
    -fx-text-fill: #000000; /* Visited link color (blue) */
}

#rank-link:focused {
    -fx-text-fill: #000000; /* Focused link color (blue) */
    -fx-focus-color: transparent; /* Remove focus outline */
    -fx-faint-focus-color: transparent; /* Remove faint focus outline */
}

.hyperlink {
    -fx-text-fill: #000000; /* Normal link color (blue) */
}

.hyperlink:visited {
    -fx-text-fill: #000000; /* Visited link color (blue) */
}

.hyperlink:focused {
    -fx-text-fill: #000000; /* Focused link color (blue) */
    -fx-focus-color: transparent; /* Remove focus outline */
    -fx-faint-focus-color: transparent; /* Remove faint focus outline */
}

.choice-button {
    -fx-font-size: 24px;
    -fx-font-weight: bold;
    -fx-text-fill: black;
}

.choice-label, .question-label {
    -fx-font-size: 24px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
}

.centered-column {
    -fx-alignment: center;
}
